@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@300;400;700&display=swap');

/* ==============Common================= */

.section-gap{
    margin-top: 100px;
}

.HomePage{
    font-family: 'Inter', sans-serif;
}

/* =========================================================================================
        Carosel
==============================================================================================*/


.CaroselDiv img{
    width: 100%;
    border-radius: 20px;
}


/* =========================================================================================
        Slider
==============================================================================================*/

.SliderH2div h2{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    padding: 24px;
    text-align: center;
    font-weight: 700;
}

.SliderSliderdiv img{
    width: 100%;
    border-radius: 20px;
    transition: .2s;
}

.SliderSliderdiv{
    position: relative;
}

.Button1{
    position: absolute;
    top:0px;
    left:-50px;
    border: none;
    outline: none;
    background:#7a7a7a;
    margin-top:6% !important;
    z-index: 2;
    display: flex;
    align-items: center;

}

.Button2{
    position: absolute;
    top:0;
    right:-50px;
    margin-top:6%;
    border: none;
    outline: none;
    background:#7a7a7a;
    display: flex;
    align-items: center;
    z-index: 2;

}

.Button1, .Button2{
    font-size: 24px;
    color:#FFF;
    padding: 10px;
    border-radius: 100px;
}

.SliderSliderdiv h6{
    text-align: center;
    font-size: 16px;
    padding: 10px;
    color:#333030;
}

.SliderSliderdiv img:hover{
    transform: scale(1.05);
}



@media (max-width: 767px) {
    
    .Button1, .Button2{
       display: none;
    }

}

/* =========================================================================================
            Allproduct home
=========================================================================================*/
.HomeProduct{
    padding: 18px 10px;
    background-color: #EDF4F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.HomeProduct h2{
   font-size: 24px;
   color:#D44934;
}

.HomeProduct a{
    font-size: 20px;
    color:#D44934;
}

.HomeCard{
    margin-bottom: 35px;
}

.HomeCard h4,Svg{
    color:rgb(234, 234, 234);
    font-size: 16px;
    line-height: 24px;
} 

.HomeCard h6{
    color:rgb(234, 234, 234);
    font-size: 12px;
    line-height: 15px;
}
.HomeCard h3{
    color:rgb(5, 5, 5);
    font-size: 20px;
    line-height: 28px;
}
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Bengali:wght@300;400;700&display=swap');

/* ==============Common================= */

.section-gap{
    margin-top: 100px;
}

.HomePage{
    font-family: 'Inter', sans-serif;
}

/* =========================================================================================
        Carosel
==============================================================================================*/


.CaroselDiv img{
    width: 100%;
    border-radius: 20px;
}


/* =========================================================================================
        Slider
==============================================================================================*/

.SliderH2div h2{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    padding: 24px;
    text-align: center;
    font-weight: 700;
}

.SliderSliderdiv img{
    width: 100%;
    border-radius: 20px;
    transition: .2s;
}

.SliderSliderdiv{
    position: relative;
}

.Button1{
    position: absolute;
    top:0px;
    left:-50px;
    border: none;
    outline: none;
    background:#7a7a7a;
    margin-top:6% !important;
    z-index: 2;
    display: flex;
    align-items: center;

}

.Button2{
    position: absolute;
    top:0;
    right:-50px;
    margin-top:6%;
    border: none;
    outline: none;
    background:#7a7a7a;
    display: flex;
    align-items: center;
    z-index: 2;

}

.Button1, .Button2{
    font-size: 24px;
    color:#FFF;
    padding: 10px;
    border-radius: 100px;
}

.SliderSliderdiv h6{
    text-align: center;
    font-size: 16px;
    padding: 10px;
    color:#333030;
}

.SliderSliderdiv img:hover{
    transform: scale(1.05);
}



@media (max-width: 767px) {
    
    .Button1, .Button2{
       display: none;
    }

}

/* =========================================================================================
            Allproduct home
=========================================================================================*/
.HomeProduct{
    padding: 18px 10px;
    background-color: #EDF4F2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.HomeProduct h2{
   font-size: 24px;
   color:#D44934;
}

.HomeProduct a{
    font-size: 20px;
    color:#D44934;
}

.HomeCard {
    text-align: center;
} 

.HomeCard img{
    width: 100%;
    box-shadow: 0px 7px 10px rgb(226, 226, 226);
} 

.HomeCard{
    box-shadow: 0px 7px 10px rgb(226, 226, 226);
    padding-bottom: 15px;
}

.HomeCard h4,Svg{
    color:rgb(163, 159, 159);
    font-size: 16px;
    line-height: 24px;
} 

.HomeCard h6{
    color:rgb(163, 159, 159);
    font-size: 12px;
    line-height: 15px;
}
.HomeCard h3{
    color:rgb(5, 5, 5);
    font-size: 20px;
    line-height: 28px;
}


/* =====================================================================================
        Cart
======================================================================================*/
.CartItemDev{
    display: flex;
    justify-content: space-between;
    padding: 17px 30px 17px 17px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 40px 0px 100px 0px;
}

.CartItem1Div{
    display: flex;
}

.CartItem1Div img{
    height: 72px;
    margin-right: 20px;
}

.CartItem1Div2{
    display: flex;
    align-items: center;
}

.CartItem2Link a{
    color: #D44934;
    font-weight: 700;
    font-size: 20px;
}

.CartItem2Link .CartItem2Link2{
    padding: 0 10px 0 10px;
}

.CartItem2LinkDlet a svg{
    color: #D44934;
    font-size: 24px;
    margin-left: 25px;
}

.CartItemDev2{
    padding: 17px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    margin: 40px 0px 100px 0px;
}

.CartItemDev2ItemPrice li{
    display: flex;
    justify-content: space-between;
}

.CartItemDev2ItemPrice{
    margin-top: 20px;
}

.CartItemDev2ItemPrice li{
    margin: 12px;
}
.CartItemDev2ItemPrice li p{
   font-size: 16px;
}

.CartItemDev2ItemPrice {
    font-weight: 500;
    color: #7a7a7a;
}

.lastLi p {
    font-weight: 500;
    color: #D44934;
}

.Hr{
    border-bottom: 1px dashed #D44934;
    width: 100%;
}

/*  =============================================================================
            Product-1
=================================================================================*/

.buttonmainDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.buttonDiv2 svg{
    font-size: 24px;
    font-weight: 900;
    color: #000;
    margin-right: 15px;
   
}

.buttonDiv2 {
    margin-right: 15px; 
    
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-toggle{
    background: none !important;
    border: none !important;
}

.dropdown-menu{
    padding: 0 !important;
}

.dropdown-menu a{
    font-size: 16px;
    font-weight:600 ;
    line-height: 30px;
    padding: 7px !important;

}

.button1 button{
    color: #ffffff;
    padding: 10px 20px;
    background-color: #D44934;
    border: none;
    font-size: 16px;
    font-weight: 600;
    border-radius: 10px;
}